{% extends 'base.html.twig' %}

{% block title %}
    Déconnexion de l'utilisateur
{% endblock %}

{% block body %}

    <div class="container p-3 my-3 border">
<h2>deconnexion  reussi {{Mr}}</h2>

        </div>
   
{% endblock %}