{% extends 'base.html.twig' %}

{% block title %}
    Nouveau commentaire
{% endblock %}

{% block body %}
    <div class="container p-3 my-3 border">

        <h2>Nouveau commentaire</h2>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-outline-primary">Ajouter</button>
        {{ form_end(form) }}
    </div>

{% endblock %}